name: mcgt-dev
channels:
  - conda-forge
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=2_gnu
  - _python_abi3_support=1.0=hd8ed1ab_2
  - asttokens=3.0.0=pyhd8ed1ab_1
  - attrs=25.3.0=pyh71513ae_0
  - binutils_impl_linux-64=2.44=h4bf12b8_1
  - binutils_linux-64=2.44=h4852527_1
  - bzip2=1.0.8=hda65f42_8
  - ca-certificates=2025.11.12=hbd8a1cb_0
  - camb=1.6.5=py312hbd90422_0
  - colorama=0.4.6=pyhd8ed1ab_1
  - comm=0.2.3=pyhe01879c_0
  - cpython=3.12.11=py312hd8ed1ab_0
  - debugpy=1.8.16=py312h8285ef7_1
  - decorator=5.2.1=pyhd8ed1ab_0
  - exceptiongroup=1.3.0=pyhd8ed1ab_0
  - executing=2.2.1=pyhd8ed1ab_0
  - gcc_impl_linux-64=14.3.0=hd9e9e21_7
  - gcc_linux-64=14.3.0=h298d278_14
  - gfortran_impl_linux-64=14.3.0=h1a219da_15
  - gfortran_linux-64=14.3.0=h1e4d427_14
  - gmp=6.3.0=hac33072_2
  - gmpy2=2.2.1=py312hcaba1f9_2
  - importlib-metadata=8.7.0=pyhe01879c_1
  - iniconfig=2.0.0=pyhd8ed1ab_1
  - ipython=9.5.0=pyhfa0c392_0
  - ipython_pygments_lexers=1.1.1=pyhd8ed1ab_0
  - jedi=0.19.2=pyhd8ed1ab_1
  - jsonschema-specifications=2025.9.1=pyhcf101f3_0
  - jupyter_client=8.6.3=pyhd8ed1ab_1
  - jupyter_core=5.8.1=pyh31011fe_0
  - kernel-headers_linux-64=6.12.0=he073ed8_3
  - keyutils=1.6.3=hb9d3cd8_0
  - krb5=1.21.3=h659f571_0
  - ld_impl_linux-64=2.44=h1423503_1
  - libblas=3.9.0=35_h4a7cf45_openblas
  - libcblas=3.9.0=35_h0358290_openblas
  - libedit=3.1.20250104=pl5321h7949ede_0
  - libexpat=2.7.1=hecca717_0
  - libffi=3.4.6=h2dba641_1
  - libgcc=15.1.0=h767d61c_5
  - libgcc-devel_linux-64=14.3.0=h85bb3a7_107
  - libgcc-ng=15.1.0=h69a702a_5
  - libgfortran=15.1.0=h69a702a_5
  - libgfortran5=15.1.0=hcea5267_5
  - libgomp=15.1.0=h767d61c_5
  - liblapack=3.9.0=35_h47877c9_openblas
  - liblzma=5.8.1=hb9d3cd8_2
  - libnsl=2.0.1=hb9d3cd8_1
  - libopenblas=0.3.30=pthreads_h94d23a6_2
  - libsanitizer=14.3.0=hd08acf3_7
  - libsodium=1.0.20=h4ab18f5_0
  - libsqlite=3.50.4=h0c1763c_0
  - libstdcxx=15.1.0=h8f9b012_5
  - libstdcxx-ng=15.1.0=h4852527_5
  - libuuid=2.41.1=he9a06e4_0
  - libxcrypt=4.4.36=hd590300_1
  - libzlib=1.3.1=hb9d3cd8_2
  - matplotlib-inline=0.1.7=pyhd8ed1ab_1
  - mpc=1.3.1=h24ddda3_1
  - mpfr=4.2.1=h90cbb55_3
  - mpmath=1.3.0=pyhd8ed1ab_1
  - ncurses=6.5=h2d0b736_3
  - nest-asyncio=1.6.0=pyhd8ed1ab_1
  - openssl=3.6.0=h26f9b46_0
  - packaging=25.0=pyh29332c3_1
  - parso=0.8.5=pyhcf101f3_0
  - pexpect=4.9.0=pyhd8ed1ab_1
  - pickleshare=0.7.5=pyhd8ed1ab_1004
  - platformdirs=4.4.0=pyhcf101f3_0
  - pluggy=1.6.0=pyhd8ed1ab_0
  - prompt-toolkit=3.0.52=pyha770c72_0
  - psutil=7.0.0=py312h4c3975b_1
  - ptyprocess=0.7.0=pyhd8ed1ab_1
  - pure_eval=0.2.3=pyhd8ed1ab_1
  - pygments=2.19.2=pyhd8ed1ab_0
  - pytest=8.4.2=pyhd8ed1ab_0
  - python=3.12.11=h9e4cc4f_0_cpython
  - python-dateutil=2.9.0.post0=pyhe01879c_2
  - python-gil=3.12.11=hd8ed1ab_0
  - python-tzdata=2025.2=pyhd8ed1ab_0
  - python_abi=3.12=8_cp312
  - pytz=2025.2=pyhd8ed1ab_0
  - pyzmq=27.1.0=py312hfb55c3c_0
  - readline=8.2=h8c095d6_2
  - referencing=0.36.2=pyh29332c3_0
  - rpds-py=0.27.1=py312h868fb18_1
  - six=1.17.0=pyhe01879c_1
  - stack_data=0.6.3=pyhd8ed1ab_1
  - sysroot_linux-64=2.39=hc4b9eeb_3
  - tk=8.6.13=noxft_hd72426e_102
  - tomli=2.2.1=pyhe01879c_2
  - tornado=6.5.2=py312h4c3975b_1
  - traitlets=5.14.3=pyhd8ed1ab_1
  - typing_extensions=4.15.0=pyhcf101f3_0
  - tzdata=2025b=h78e105d_0
  - wcwidth=0.2.13=pyhd8ed1ab_1
  - zeromq=4.3.5=h387f397_9
  - zipp=3.23.0=pyhd8ed1ab_0
  - pip:
      - annotated-types==0.7.0
      - anyio==4.10.0
      - argcomplete==3.6.2
      - argon2-cffi==25.1.0
      - argon2-cffi-bindings==25.1.0
      - arrow==1.3.0
      - async-lru==2.0.5
      - babel==2.17.0
      - beautifulsoup4==4.13.5
      - bleach==6.2.0
      - build==1.3.0
      - certifi==2025.8.3
      - cffi==2.0.0
      - cfgv==3.4.0
      - chardet==5.2.0
      - charset-normalizer==3.4.3
      - click==8.1.7
      - contourpy==1.3.3
      - coverage==7.10.7
      - cryptography==45.0.7
      - cycler==0.12.1
      - defusedxml==0.7.1
      - distlib==0.4.0
      - distro==1.9.0
      - docutils==0.22
      - fastjsonschema==2.21.2
      - filelock==3.19.1
      - flake8==7.3.0
      - fonttools==4.59.2
      - fqdn==1.5.1
      - h11==0.16.0
      - h5py==3.11.0
      - httpcore==1.0.9
      - httpx==0.28.1
      - id==1.5.0
      - identify==2.6.14
      - idna==3.10
      - ipykernel==6.29.5
      - isoduration==20.11.0
      - jaraco-classes==3.4.0
      - jaraco-context==6.0.1
      - jaraco-functools==4.3.0
      - jeepney==0.9.0
      - jinja2==3.1.6
      - jiter==0.12.0
      - json5==0.12.1
      - jsonpointer==3.0.0
      - jsonschema==4.25.1
      - jupyter-events==0.12.0
      - jupyter-lsp==2.3.0
      - jupyter-server==2.17.0
      - jupyter-server-terminals==0.5.3
      - jupyterlab==4.4.8
      - jupyterlab-pygments==0.3.0
      - jupyterlab-server==2.27.3
      - keyring==25.6.0
      - kiwisolver==1.4.9
      - lark==1.2.2
      - markdown-it-py==4.0.0
      - markupsafe==3.0.2
      - matplotlib==3.9.0
      - mccabe==0.7.0
      - mcgt==0.2.0
      - mdurl==0.1.2
      - mistune==3.1.4
      - more-itertools==10.8.0
      - nbclient==0.10.2
      - nbconvert==7.16.6
      - nbformat==5.10.4
      - nh3==0.3.0
      - nodeenv==1.9.1
      - notebook-shim==0.2.4
      - numpy==2.2.2
      - openai==2.14.0
      - pandas==2.3.3
      - pandocfilters==1.5.1
      - pillow==11.3.0
      - pip==25.3
      - pipx==1.8.0
      - pkginfo==1.12.1.2
      - pre-commit==4.3.0
      - prometheus-client==0.23.1
      - pycparser==2.23
      - pydantic==2.12.5
      - pydantic-core==2.41.5
      - pyflakes==3.4.0
      - pyparsing==3.2.3
      - pyproject-hooks==1.2.0
      - pytest-cov==7.0.0
      - python-json-logger==3.3.0
      - python-magic==0.4.27
      - pyyaml==6.0.2
      - readme-renderer==44.0
      - requests==2.32.5
      - requests-toolbelt==1.0.0
      - rfc3339-validator==0.1.4
      - rfc3986==2.0.0
      - rfc3986-validator==0.1.1
      - rfc3987-syntax==1.1.0
      - rich==13.7.1
      - ruamel-yaml==0.18.15
      - ruamel-yaml-clib==0.2.14
      - scipy==1.14.1
      - secretstorage==3.4.0
      - send2trash==1.8.3
      - setuptools==78.1.1
      - sniffio==1.3.1
      - soupsieve==2.8
      - sympy==1.13.2
      - terminado==0.18.1
      - tinycss2==1.4.0
      - tomli-w==1.2.0
      - tomlkit==0.13.3
      - tqdm==4.66.5
      - twine==6.2.0
      - types-python-dateutil==2.9.0.20250822
      - typing-inspection==0.4.2
      - uri-template==1.3.0
      - urllib3==2.5.0
      - userpath==1.9.2
      - virtualenv==20.34.0
      - webcolors==24.11.1
      - webencodings==0.5.1
      - websocket-client==1.8.0
      - wheel==0.42.0
      - xmltodict==1.0.2
      - yq==3.4.3
      - zz-tools==0.3.14
prefix: /home/jplal/miniforge3/envs/mcgt-dev
