include LICENSE
include README.md
include pyproject.toml
recursive-include zz-manifests manifest_publication.json diag_consistency.py
recursive-include zz-scripts *.py
recursive-exclude zz-figures *
recursive-exclude .github *
prune .github
global-exclude *.bak *~ *.tmp .DS_Store Thumbs.db
