include LICENSE
include README.md
include pyproject.toml
include zz-manifests/manifest_publication.json
graft zz_tools
prune _tmp
prune .github
global-exclude *.bak *.sha256sum *.sig *.py[cod] __pycache__/
exclude local/*
