include README.md
include LICENSE
include LICENSE-data
include pyproject.toml
recursive-include zz-manifests *.json *.py
recursive-include zz-scripts *.py
global-exclude *.png *.jpg *.jpeg *.gif *.svg *.pdf *.zip *.tar.gz *.tgz *.bak *.tmp *~
prune _tmp
prune .github
prune zz-figures
include CITATION.cff
include zz-manifests/manifest_publication.json
prune .git
prune tests
global-exclude *.png *.jpg *.jpeg *.gif *.pdf
global-exclude *.bak *.tmp *~ *.pyc __pycache__ .DS_Store *.lock.json
