# added by policies_guard_common_fixes
permissions:
  contents: read

name: semantic-pr

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

concurrency:
  group: semantic-${{ github.ref }}
  cancel-in-progress: true

jobs:
  semantic:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            chore
            ci
            docs
            feat
            fix
            perf
            refactor
            revert
            style
            test
          requireScope: false
          validateSingleCommit: false
